{inc inc.head}
<body>
<form method="post" action="?m=demo&c=admin_news&a=act">
	<table cellspacing="1" cellpadding="10">
		<tr><th>{$title}</th></tr>
		<tr align="center">
			<td><select name="cid">
			{list $cat $k $c}
			<option value="{$k}" {if {$k} == {$v.cid}}selected{/if}>{$c}</option>
			{/list}
			</select></td>
		</tr>
		<tr align="center">
			<td><select name="status">
			<option value="0" {if 0 == {$v.status}}selected{/if}>待审</option>
			<option value="1" {if 1 == {$v.status}}selected{/if}>发布</option>
			</select></td>
		</tr>
		<tr>
			<td><input name="title" placeholder="标题" size="44" value="{$v.title}" required></td>
		</tr>
		<tr>
			<td><textarea name="content" cols="46" rows="15" placeholder="内容" required>{$v.content}</textarea><br>*仅为演示，这里省去编辑器，仍支持HTML</td>
		</tr>
		<tr align="center">
			<td>
			<input type="hidden" name="id" value="{$_GET.id}">
			<input type="submit" value="提 交">
			</td>
		</tr>
	</table>
</form>
</body>
</html>